<td>
    <%- author %>
</td>
<td>
    <%- title %>
</td>
<td>
    <a href="#contacts/<%- id %>/show" class="btn btn-small js-show">
<i class="icon-eye-open"></i>
Show
</a>
    <a href="#contacts/<%- id %>/edit" class="btn btn-small js-edit">
<i class="icon-pencil"></i>
Edit
</a>
    <a href="#contacts/<%- id %>/delete" class="btn btn-small js-delete">
<i class="icon-remove"></i>
Delete
</a>

</td>